@import url(https://fonts.googleapis.com/css?family=Open + Sans:300, 400, 700);
@import url(https://fonts.googleapis.com/icon?family=Material + Icons);

.list-wrapper{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 80%;
    height: auto;
    align-items: top;
    padding: 20px;
    margin: auto ;
    
}
.react-tabs__tab:hover{
  cursor: pointer;
}
.react-tabs__tab-list{
  border: none;
}
.react-tabs__tab--selected{
  background-color: rgb(55, 55, 160)!important;
}
.react-tabs__tab--selected{
  background: none;
}
.list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px rgba(67, 73, 161, 0.519) solid;
    padding: 10px;
    max-width: 20%;
    
}
.element{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(37, 139, 202);
    color: white;
    font-weight: 500;
    font-size: 0.6em;
    
}
.separator{
    height: 50px;
}
.day-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
.heading{
    color: rgb(7, 96, 151);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
.react-tabs__tab-list{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.react-tabs__tab{
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    border: 1px rgb(97, 97, 206) solid;
    padding: 10px 15px;
    

}
li{
    list-style-type: none
}
.react-tabs__tab--selected{
    background-color: rgb(37, 139, 202);
    color: white;
    border: none;
}


.App {
    font-family: sans-serif;
    text-align: center;
   
    height: 100vh;
    background-color: paleturquoise;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  /* FONT IMPORTS */
  
 
  
  .icon {
    font-family: "Material Icons", serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
  }
  
  /* VARIABLES */
  
  :root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #f9f9f9;
    --neutral-color: #fff;
  }
  
  /* GENERAL */
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
    margin: 0;
  }
  .header.row.flex-middle{
    margin-top: 50px;
  }
  
  header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--neutral-color);
  }
  
  header #logo {
    font-size: 175%;
    text-align: center;
    color: var(--main-color);
    line-height: 1;
  }
  
  header #logo .icon {
    padding-right: 0.25em;
  }
  
  main {
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    max-width: 50em;
  }
  
  /* GRID */
  
  .row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .row-middle {
    align-items: center;
  }
  
  .col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  
  .col-start {
    justify-content: flex-start;
    text-align: left;
  }
  
  .col-center {
    justify-content: center;
    text-align: center;
  }
  
  .col-end {
    justify-content: flex-end;
    text-align: right;
  }
  
  /* Calendar */
  
  .calendar {
    display: block;
    position: relative;
    width: 100%;
    background: var(--neutral-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
  }
  
  .calendar .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .calendar .header .icon {
    cursor: pointer;
    transition: 0.15s ease-out;
  }
  
  .calendar .header .icon:hover {
    /*transform: scale(1.75);*/
    transition: 0.25s ease-out;
    color: var(--main-color);
  }
  
  .calendar .header .icon:first-of-type {
    margin-left: 1em;
  }
  
  .calendar .header .icon:last-of-type {
    margin-right: 1em;
  }
  
  .calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 70%;
    padding: 0.75em 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .calendar .body .cell {
    position: relative;
    height: 4em;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
    font-size: 1.5em;
  }
  
  .calendar .body .cell:hover {
    background: var(--bg-color);
    transition: 0.5s ease-out;
  }
  
  .calendar .body .selected {
    border-left: 10px solid transparent;
    border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
    border-image-slice: 1;
  }
  .calendar .body .today {
    border-left: 10px solid transparent;
    border-image: linear-gradient(45deg, #ff1a79 0%, #eb82b3 40%);
    border-image-slice: 1;
  }
  .calendar .body .row {
    border-bottom: 1px solid var(--border-color);
  }
  
  /* .calendar .body .row:last-child {
    border-bottom: none;
  } */
  
  .calendar .body .cell:last-child {
    border-right: none;
    
  }
  
  .calendar .body .cell .number {
    position: absolute;
    font-size: 82.5%;
    line-height: 1;
    top: 0.75em;
    right: 0.75em;
    font-weight: 700;
  }
  
  .calendar .body .disabled {
    color: var(--text-color-light);
    pointer-events: none;
  }
  
  .calendar .body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -0.2em;
    right: -0.05em;
    transition: 0.25s ease-out;
    letter-spacing: -0.07em;
  }
  
  .calendar .body .cell:hover .bg,
  .calendar .body .selected .bg {
    opacity: 0.05;
    transition: 0.5s ease-in;
  }
  .calendar .body .cell.today .bg {
    color: #ff1a79;
    opacity: 0.05;
  }
  
  .calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100% / 7);
    width: calc(100% / 7);
  }

  .cell {
    height: auto!important;
    padding: 10px;
  }

  @media screen and (max-width: 480px) {
    .react-tabs__tab{
      font-size: 12px;
      padding: 10px 5px;
      
    }
    
    .react-tabs__tab-list{
      max-width: 100%;
      flex-wrap: wrap;
      padding: 5px;
      
      
    }
   .header.row.flex-middle{
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    margin-top: 0px;

   }
    .App{
      padding: 15px;
      
    }
    .col.col-start{
      margin-bottom: 10px;
    }
    .col.col-start{
      margin-top: 10px;
    }
    .col.cell{
      padding: 10;
    }
    .element{
      font-size: 1.3vw;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .calendar .body .today{
      border-left: 0;
      border-image: none;
    }
   
  }
  